*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas: 'tabuada tic_tac_toe';
}

.tabuada{
    grid-area: 'tabuada';
    background-color: var(--tabuada_color_dark);
    flex-direction: column;
    align-items: center;

    /*  */
    display: flex;
    height: 100vh;
    /*  */
}

.tabuada h1{
    color: var(--tabuada_color_font);

    /*  */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    margin-top: 3rem;
    /*  */
}

.tic_tac_toe{
    grid-area: 'tic_tac_toe';
    background-color: var(--tic_tac_toe_color_dark);
    justify-content: center;

    /*  */
    height: 100vh;
    display: flex;
    /*  */
}

.tic_tac_toe h1{
    color: var(--tic_tac_toe_color_font);

    /*  */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    margin-top: 3rem;
    /*  */
}